*/.idea/
*/node_modules/
*/.angular/
*/.vscode/
*/.history

*HELP.md
*/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.iws
*.iml
*.ipr

npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
/dist
/tmp
/out-tsc
/bazel-out